<header class="hero-header text-center">
    <div class="container">
        <div class="logo-wrapper">
            <img src="../../../assets/logo.jpeg" alt="Logo" class="hero-logo">
        </div>
    </div>
</header>
<div class="content-wrapper">
    <app-about-conference class="flex-item"></app-about-conference>
    <div class="update-banner flex-item">
        <p class="update-date">{{ 'BANNER.UPDATED' | translate }}: {{ lastUpdated | date:'dd/MM/yyyy' }}</p>
        <p class="update-text">{{ 'BANNER.MESSAGE' | translate }}</p>
        <a routerLink="/ConferenceEvents" class="surveys-btn">
            {{ 'BANNER.BUTTON' | translate }}
        </a>
    </div>

</div>