<div class="dashboard-container">
  <div class="header-actions">
    <h1>{{ 'DASHBOARD_PAGE.TITLE' | translate }}</h1>
    <button class="btn-add" routerLink="../manage-conference">
      ➕ {{ 'DASHBOARD_PAGE.CREATE_NEW' | translate }}
    </button>
  </div>

  <div *ngIf="loading" class="loader">{{ 'COMMON.LOADING' | translate }}</div>

  <table *ngIf="!loading && conferences.length > 0" class="admin-table">
    <thead>
      <tr>
        <th>{{ 'TABLE.NAME' | translate }}</th>
        <th>{{ 'TABLE.DATE' | translate }}</th>
        <th>{{ 'TABLE.LOCATION' | translate }}</th>
        <th>{{ 'TABLE.ATTENDEES' | translate }}</th>
        <th>{{ 'TABLE.ACTIONS' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let conf of conferences">
        <td>{{ conf.name }}</td>
        <td>{{ conf.date | date:'dd/MM/yyyy' }}</td>
        <td>{{ conf.location }}</td>
        <td>{{ conf.sessions?.length || 0 }}</td>
        <td>
          <button class="btn-edit" [routerLink]="['../manage-conference', conf.id]">
            {{ 'COMMON_ACTIONS.EDIT' | translate }}
          </button>
          <button class="btn-delete" (click)="onDelete(conf.id)">
            {{ 'COMMON_ACTIONS.DELETE' | translate }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!loading && conferences.length === 0" class="no-data">
    {{ 'DASHBOARD_PAGE.NO_DATA' | translate }}
  </div>
</div>