<div class="login-wrapper">
  <div class="login-card shadow">
    <h2 class="text-center uni-title">{{ 'LOGIN.TITLE' | translate }}</h2>

    <div *ngIf="errorMessage" class="error-msg text-center mb-3">
      {{ errorMessage | translate }}
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="field mb-3">
        <label for="email">{{ 'LOGIN.EMAIL' | translate }}</label>
        <input type="email" id="email" formControlName="email" class="custom-input" [placeholder]="'LOGIN.EMAIL_PLACEHOLDER' | translate">
      </div>

      <div class="field mb-4">
        <label for="password">{{ 'LOGIN.PASSWORD' | translate }}</label>
        <input type="password" id="password" formControlName="password" class="custom-input" [placeholder]="'LOGIN.PASSWORD' | translate">
      </div>

      <button type="submit" [disabled]="loginForm.invalid || isLoading">
        <span *ngIf="isLoading" class="spinner"></span>
        <span *ngIf="!isLoading">{{ 'LOGIN.SUBMIT' | translate }}</span>
      </button>
    </form>
  </div>
</div>