<nav class="science-navbar">
  <div class="nav-container">
    <div class="brand-text-only" routerLink="/"></div>

    <div class="links-section">
      <!-- <a routerLink="/all-conferences" class="nav-link" routerLinkActive="active">כל הכנסים</a> -->
      <a routerLink="/coming-soon" class="nav-link" routerLinkActive="active">כל הכנסים</a>
      <a routerLink="/ConferenceEvents" class="nav-link" routerLinkActive="active">סקרים</a>
      <a routerLink="/" class="nav-link" routerLinkActive="active">ראשי</a>
    </div>
  </div>
</nav>

<main class="content-area">
  <router-outlet></router-outlet>
</main>