/* 
.science-navbar {
    background-color: #1f1f72;
    height: 70px;
    width: 98%;
    position: sticky;
    top: 10px;
    left: 15px;
    z-index: 1000;
    display: flex;
    align-items: center;
    border-radius: 35px;
} */
.science-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
    background-color: #1f1f72 !important;
    z-index: 1000;
    display: flex;
    align-items: center;
    border-radius: 35px;
}
.main-nav {
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: rtl;
}

/* עיצוב הלוגו והטקסט בשורה */
.brand-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-logo {
    height: 50px;
    margin-left: 15px;
    /* רווח בין הלוגו לטקסט */
}

.brand-text {
    display: flex;
    flex-direction: column;
    /* טקסט אנגלי מעל עברי */
    justify-content: center;
}

.eng-title {
    color: #00f2ff;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 1;
}

.heb-title {
    color: #ffffff;
    font-size: 0.8rem;
    margin-top: 2px;
}

/* עיצוב הקישורים בצד שמאל */
.links-section {
    display: flex;
    gap: 30px;
    /* רווח קבוע בין הקישורים */
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.95rem;
    transition: color 0.3s ease;
    border-left: 1px solid white;
    width: 100px;
    height: 25px;
}

.nav-link:last-child {
    border-left: none;
}

.nav-link:hover {
    color: #00f2ff;
}

/*  */
.brand-text {
    display: flex;
    flex-direction: column;
    text-align: right;
    /* יישור לימין כי הכל עכשיו בעברית */
}

.uni-title {
    color: #ffffff;
    /* לבן בוהק */
    font-weight: 800;
    font-size: 1.3rem;
    line-height: 1.1;
    letter-spacing: 0.5px;
}

/*  */
.btn-register {
    color: white !important;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn-register:hover {
    background-color: #0056b3;
}

.divider {
    border-left: 2px solid #fff;
    height: 25px;
}